$main: #BDE6E9;
$main-highlight: blue;
$faded: #a0a0a0;
$bg: rgb(245, 248, 254);
$p5: 20px;

h2 {
    color: $faded;
}

hr {
    border-color: $main;
}

body {
    background-color: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 600px;
    text-align: center;
    padding: $p5 0;
}

.o-header {}

.o-content {
    margin-top: $p5;
    text-align: left;
}

.faded {
    color: $faded;
}
