/* breakpoints for media queries */
$narrow: 400px;
$mid: 740px;
$wide: 1200px;

/* colours */
$page-color: black;
$text-color: #fff;
$accent-color: #333;
$dark-color: #000;
$light-color: rgba(245,245,245,0.7);

